<br> <h5> If Twitter was Twitter but plain and basic. </h5> <br> <h6> Why? <br> A little bird told me to do it... I'm not too sure either ¯\_(ツ)_/¯ </h6><br> 

Anyways, get started by making an account and posting your first Tweet! <br> Take a break out of your day to leave a short message... maybe someday someone will stumble upon it and smile :) <br><br>

Created by Ellen Xu. Just for fun ;)

<!--
<%= @mission_statement %>
-->